@page "/"
@using Hipparu.Shared
@using Plk.Blazor.DragDrop
@inject HttpClient Http

<div class="@menuVisibility">
    <button class="btn btn-primary" @onclick="()=>SelectMode(1)">Hiragana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(2)">Katakana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(3)">Mixed</button>
</div>

<div class="@gameVisibility">

    <div class="grid-container">
        <Dropzone Items="AnswerList" TItem="AnswerItem" >
            <div class="mt-2" style="border: 2px solid black">
                @if (textState == TextState.HiraganaMode)
                {
                    @context.HiraganaScript 
                }
                else
                {
                    @context.KatakanaScript
                }
            </div>   
        </Dropzone>
    </div>

    <button class="btn btn-primary" @onclick="SwapBetweenGameAndMenu">Reset</button>
</div>

@code{
    // Unfortunately the http client doesn't seem to want to work in the code behind file
    // So we've got to do this weirdness
    protected override async Task OnInitializedAsync()
    {
        masterAnswers = await Http.GetFromJsonAsync<Answers>("data/CharacterList.json");
    }
}