@page "/"

<div class="main-menu">
    <button class="btn btn-primary" @onclick="()=>IncrementCount(0)">Hiragana</button>
    <button class="btn btn-primary" @onclick="()=>IncrementCount(1)">Katakana</button>
    <button class="btn btn-primary" @onclick="()=>IncrementCount(2)">Mixed</button>
    <p>Current count: @gameMode</p>
</div>