@page "/"


<div class="main-menu">
    <table><button class="btn btn-primary" @onclick="()=>IncrementCount(0)">Hiragana</button></table>
    <table><button class="btn btn-primary" @onclick="()=>IncrementCount(1)">Katakana</button></table>
    <table><button class="btn btn-primary" @onclick="()=>IncrementCount(2)">Mixed</button></table>
    <p>Current count: @gameMode</p>
</div>