@page "/"

<div class="@menuVisibility">
    <button class="btn btn-primary" @onclick="()=>SelectMode(1)">Hiragana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(2)">Katakana</button>
    <button class="btn btn-primary" @onclick="()=>SelectMode(3)">Mixed</button>
</div>

<div class="@gameVisibility"><button class="btn btn-primary" @onclick="SwapBetweenGameAndMenu">Back to menu</button></div>